/* Import custom font */
@font-face {
    font-family: "Baskerville Old Face";
    font-weight: normal;
    font-style: normal;
}

/* Basic styles */
body {
    font-family: 'PocheonMakgeolli', sans-serif; /* Set default font */
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* Header styles */
header {
    background-color: #a3d879 !important;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(19, 14, 14, 0.1);
}

span {
    font-size: 1rem; /* Set small font size */
    display: inline; /* Display inline */
}

/* Navigation styles */
nav {
    text-align: right; /* Align to the right */
    margin-top: -5px; /* Adjust if needed */
}

nav a {
    margin: 0 50px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #CEF6D8;
}

/* Banner styles */
.banner {
    position: relative;
    text-align: center;
}

.banner img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.banner h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Gallery styles */
.gallery {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    flex-wrap: wrap;
}

.item {
    text-align: center;
    margin: 10px;
}

.item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.item img:hover {
    transform: scale(1.05);
}

.row.mt-4 {
    margin-top: 20px; /* Adjust the value as needed */
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #fff8e0;
    border-top: 1px solid #ffffff;
    margin-top: 20px;
}